<%- include('partials/header.ejs') %> <% if (locals.postId) { %>

<div class="container d-flex flex-column">
  <h3>edit post</h3>
  <form class="d-flex flex-column" action="/update" method="post">
    <input
      type="text"
      name="postTitle"
      placeholder="title"
      value="<%= postTitle %>"
      required
      class="custom-input mb-3"
    />
    <textarea
      type="text"
      name="postContent"
      placeholder="title your thoughts"
      required
      class="custom-input mb-3"
      rows="12"
      style="resize: vertical"
    ><%= postContent %></textarea>

    <p class="m-0 p-0" style="font-size: x-small;">* to create a new line, use &lt;br&gt;</p>

    <input hidden type="text" name="index" value="<%= postId %>" />
    <input class="btn px-3 pt-2 pb-1 align-self-end" type="submit" value="save" />
  </form>
</div>

<% } else { %>

<div class="container d-flex flex-column">
  <h3>create post</h3>

  <form class="d-flex flex-column" action="/submit" method="POST">
    <input
      type="text"
      name="postTitle"
      placeholder="title your thoughts"
      required
      class="custom-input mb-3"
    />

    <textarea
      name="postContent"
      placeholder="the page is listening"
      required
      class="custom-input mb-3"
      rows="12"
      style="resize: vertical"
    ></textarea>

    <p class="m-0 p-0" style="font-size: x-small;">* to create a new line, use &lt;br&gt;</p>

    <input class="btn px-3 pt-2 pb-1 align-self-end" type="submit" value="post" />
  </form>

  

</div>

<% } %> <%- include('partials/footer.ejs') %>
