<%- include('partials/header.ejs') %>

<h1><%- postTitle %></h1>
<h2><%- postDate %></h2>
<p><%- postContent %></p>

<form action="/edit/<%= postId %>" method="get">
  <input type="submit" value="edit" />
</form>

<form action="/delete" method="post">
  <input type="submit" value="delete" />
</form>

<%- include('partials/footer.ejs') %>